*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.links, link:hover{
    color: white;
}
body{
    background-image: url(../img/bg4.jpg);
}
.bgHome_left{
    background-image: url(../img/bg-home.jpg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.bgHome_right{
    background: #ffe259;
    background: linear-gradient(to left, #ffa751, #ffe259);
}
hr{
    line-height: 5px;
    color: #ffffff;
}
.logoMenu{
    width: 200px;
}
.imgProducts{
    width: 200px;
    height: 200px;
}
.imgProductsCartBuy{
    width: 50px;
}
.imgProductsCart{
    width: 100px;
    border-radius: 30%;
}
.iconCart{
    width: 40px;
}
.iconCreditCard{
    width: 50px;
    padding-top: 6px;
    margin: 20px;
}
.trashItem{
    background-image: url(../img/icons/trash_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 25px 5px 5px 0px;
    font-size: 10px;
    width: 100px;
    height: 40px;
}
#cartCounter{
    text-decoration: none;
    color: white;
    background: transparent;
    border-radius: 50%;
    text-align: center;
}
.cartTitle{
    text-align: center;
    padding: 1px;
}
.menu-center{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}
.menu-center img{
    width: 250px;
}
@media (max-width:767px) {
    .menu-center img{
        width: 150px;
        height: 100px;
    }
}
/* ///////////////////////////////////////////////////// */
/* ESTILOS SECCION MERCHANDISING */
/* ///////////////////////////////////////////////////// */
.contenedor {
	margin: 50px auto;
}
.titulo{
    background-color: #FFF;
}
.starrr {
	display: block;
}

.slider {
	margin-top: 10px;
}

.slick-prev {
	font-size: 0;
	position: absolute;
	right: 55px;
	top: -64px;
	width: 30px;
	height: 30px;
	border-radius: 6px;
	background-image: url(../img/icons/prev-arrow.png);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.slick-next {
	font-size: 0;
	position: absolute;
	right: 18px;
	top: -64px;
	width: 30px;
	height: 30px;
	border-radius: 6px;
	background: url(../img/icons/next-arrow.png);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.slick-next:hover,
.slick-prev:hover {
	opacity: 0.8;
}

@media screen and (max-width: 400px) {
	.slick-next,
	.slick-prev {
		display: none !important;
	}
}
.container__btnItem{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.__btnItem{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
/* ///////////////////////////////////////////// */
/* ESTILOS SECTION QUESTIONS */
/* /////////////////////////////////////// */
.boxQuiz .boxTop{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.boxQuiz .boxTop .titleQuiz{
    font-size: 20px;
    font-weight: 600;
}

.boxQuiz .boxTop .timer{
    color: #000;
    background: #d1d1d1;
    border: 1px solid #ff9100;
    height: 30px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 145px;
}

.boxQuiz .boxTop .timer .timeText{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.boxQuiz .boxTop .timer .timerNumber{
    font-size: 28px;
    font-weight: 700;
    padding: 30px 20px 20px 20px;
    margin-bottom: 15px;
    height: 95px;
    width: 80px;
    color: #ffe259;
    text-align: center;
    background-image: url(../img/icons/icon_chronometer.png);
    background-size: cover;
    user-select: none;
}

.boxQuiz .boxTop .timeProgress{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}
.question{
    background-color: #FFF;
    border-radius: 5px;
    font-size: 1rem;
    padding: 30px 5px 30px 5px;
    color: #000;
    text-align: center;
    font-family: sans-serif;
}
.titleQuiz{
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
}
.option{
    margin-top: 10px;
    border-radius: 5px;
    border: rgb(255, 174, 0) solid 1px;
    padding: 10px;
    cursor: pointer;
}
.option:hover{
    color: #000;
    background-color: rgb(220, 220, 220);
}
.score{
    text-align: center;
    height: 50px;
}
.indice, .false, .true{
    display: inline-block;
    margin: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.false{
    background-image: url(../img/icons/icon_false.png);
    background-size: cover;
}
.true{
    background-image: url(../img/icons/icon_true.png);
    background-size: cover;
}
#quiz_game, #memory_game{
    cursor: pointer;
}
/* //////////////////////////////////// */
/* ESTILOS TEMAS DE QUIZS */
/* /////////////////////////////////////// */
.themes_quiz{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.themes_quiz img{
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 0px rgba(255, 255, 255, 0.5);
}
.icon_rules{
    width: 150px;
    margin: 15px;
}
.view_desactive{
    display: none;
}
.view_active{
    display: block;
}
/* //////////////////////////////////// */
/* ESTILOS JUEGO DE MEMORIA */
/* /////////////////////////////////////// */
.view_game_memory{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.view_game_memory_desactive{
    display: none;
}
.notifications{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
.tableGameMemory{
    margin: auto;
}
.btn_memory{
    width: 120px;
    height: 120px;
    border: none;
    border-radius: 5px;
}
.bg_card_memory{
    background-image: url(../img/cards_game_memory/bg_card_memory.png);
}
.cards_game_memory{
    width: 100px;
    height: 100px;
}
@media (max-width:767px) {
    .btn_memory{
        width: 100px;
        height: 100px;
    }
    #boxGame{
        text-align: center;
    }
}
@media (max-width:477px) {
    .btn_memory{
        width: 90px;
        height: 90px;
    }
    #boxGame{
        text-align: center;
    }
}
#time_left, #hits, #movements, .title_memory{
    background-color: #FFF;
    margin: 3px;
    height: 80px;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}
/* ///////////////////////////////////////////////////// */
/* VALIDACION DE FORMULARIO */
/* ///////////////////////////////////////////////////// */

.validate_error input{
    border: solid 2px red!important;
}
.validate_confirm input{
    border: solid 2px rgb(72, 255, 0)!important;
}
.msg_error{
    font-size: 0.7rem;
    display: none;
}
.msg_error_active{
    display: block;
}
/* ///////////////////////////////////////////////////// */
/* RANKING */
/* ///////////////////////////////////////////////////// */
.bg_ranking{
    background-color: rgba(252, 247, 247, 0.4);
}
